.model {
    width: 250px;
    .glasses-img {
        opacity: 0.5;
        width: 58%;
        top: 73px;
        left: 52px;
    }
    .glasses-info {
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(254, 215, 170, 0.5);
    }
}
